div.box {
    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px $light-red;
    min-height: 200px;
    width: 100%;

    &-header {
        width: 100%;
        background: $yellow;
        padding: 25px 25px 40px 60px;
        border-radius: 20px 20px 0 0;
        margin-bottom: -25px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 740px) {
            padding: 25px;
            flex-direction: column;

            .switch {
                margin: 20px 0;
            }
        }

        h1 {
            font-size: 24px;
            font-style: italic;
            color: $dark-red;
            margin: 0;
            padding: 0;

            @media screen and (max-width: 890px) {
                font-size: 18px;
            }
            @media screen and (max-width: 740px) {
                text-align: center;
                max-width: 220px;
            }
            
        }
    }

    &-content {
        padding: 0 25px;
        text-align: center;
        
        .form-field {
            &.half {
                width: calc(50% - 95px);
            }

            &.price {
                width: 160px;
            }

            @media screen and (max-width: 890px) {
                width: 100% !important;
            }
        }

        input[type=reset],
        input[type=submit] {
            margin-bottom: -30px;
            @media screen and (max-width: 740px) {
                margin: 0 0 25px;
                width: 100%;
            }
        }

    }
}